<!-- ======== @Region: #content ======== -->
<div id='content' class='p-0'>
  <!-- About -->
  <%= render '/layouts/new_frontpage/gallery' %>

  <%= render '/layouts/new_frontpage/about' %>

  <!-- Hiring MDR block -->
  <!-- Features -->
  <!-- <%= render '/layouts/new_frontpage/feature' %> -->
  <!-- Video background MDR -->
  <%= render '/layouts/new_frontpage/video_bg_mdr' %>
  <!--Projects carousel -->
  <!-- render '/layouts/new_frontpage/projects' -->
  <!--Customer testimonial-->
  <!-- render '/layouts/new_frontpage/testimonials' -->
  <!-- Contact form -->
  <%= render '/layouts/new_frontpage/contact' %>
</div>
