<style type="">
#holder img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
<div id='pricing' class='bg-light py-3 py-lg-6'>
  <div class='container'>
    <div data-animate='fadeIn' data-animate-duration='0.6'>
      <hr class='hr-lg mt-0 mb-3 w-10 mx-auto hr-primary' />
      <h2 class='text-center text-uppercase font-weight-bold my-0'>
      Learn something cool - Claim the badge!
      </h2>
      <h5 class='text-center font-weight-light mt-2 mb-0 text-muted'>
      Claim one or many badges by learing with fun 10 minute tutorials. Help making the world a better place, one quiz at a time!
      </h5>
      <hr class='mb-5 w-50 mx-auto' />
    </div>
    <div class='row pricing-stack'>
    <% @apps.each do |app| %>
      <div class='col-md-4'>
        <div class='card bg-shadow text-center rounded'> 
         <div class='card bg-white bg-shadow text-center card-outline-primary'>
             <!--    <div class='card-ribbon card-ribbon-top card-ribbon-left bg-primary text-white'>Popular</div> -->
             <div id="holder">
             <img src="https://www.eqbotics.com<%= app.badge.img.url %>" height="200px" width="200px">
</div>
          <h3 class='card-title py-3 text-shadow'>
            <%= app.name %>
          </h3>
          <h5 class='card-title py-3 text-shadow'>
            <%= app.title %>
          </h5>
          <p class='price-banner border-grey card-body-overlap'> <span class='text-fancy price-digits'>Free!</span>
          </p>
          <div class='card-body'>
            <ul class='list-unstyled list-border-dots'>
              <li><%= app.description %></li>
              <hr />
              <li>Estimated duration: 10 min <li>

             
            </ul>
            <% if app.coming_soon == false %>
            <a href='https://www.eqbotics.com/public_quiz_concept/<%= app.id %>' class='btn btn-primary btn-block btn-rounded mt-4'>Claim the badge!</a>
            <% else %>
            <a href='#' class='btn btn-primary btn-block btn-rounded mt-4'>COMING SOON</a>
            <% end %>
            </div>
        </div>
      </div></div>
      <% end %>
      </div>      

      
    <!-- Plan features -->
    <div class='bg-grey bg-shadow py-3 mt-4 text-center' data-animate='fadeInUp' data-animate-duration='1.2' data-animate-offset='100%'>
     <!--> <h4 class='d-inline-block pr-1 my-0'>
        <span>All Plans <span class='font-weight-normal text-muted'>Include</span>:</span>
      </h4> -->
      <p class='d-inline-block text-muted my-0'>The most OMazing content! <span class='text-primary font-weight-bold'>//</span> No obligation or cost <span class='text-primary font-weight-bold'>//</span> More harmony for all 
        </p>
    </div>
  </div>
</div>
