      <% if current_user.is_company_or_admin_access? %>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>System Overview</h2>
    <ol class="breadcrumb">
      <li>
        Home
      </li>
      <li class="active">
        <strong>Dashboard</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInLeft">
  <div class="row">
    <div class="col-lg-3">
      <div class="widget style1">
        <div class="row">
          <div class="col-xs-4 text-center">
            <i class="fa fa-envelope fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> Current Quiz Score </span>
            <h2 class="font-bold"><%= @scores.to_s %> out of <%= @concepts.to_s %></h2>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="widget style1 lazur-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-envelope-o fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span>Total Apps</span>
            <h2 class="font-bold"><%= @apps_count %></h2>
          </div>
        </div>
      </div>
    </div>
  <%= link_to public_app_path do %>
    <div class="col-lg-3">
      <div class="widget style1 lazur-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-envelope-o fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span>Public Apps</span>
            <h2 class='font-bold'><%= @public_apps_count %></h2>
            <%#= link_to "".html_safe,  %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
      <div class="col-lg-3">
        <div class="widget style1 navy-bg">
          <div class="row">
            <div class="col-xs-4 text-center">
              <i class="fa fa-smile-o fa-5x"></i>
            </div>
            <div class="col-xs-8 text-right">
              <span> Badges </span>
              <h2 class='font-bold'><%= @badges_count %></h2>
            </div>
          </div>
        </div>
      </div>

    <div class="col-lg-3">
      <div class="widget style1 gray-bg">
        <div class="row">
          <div class="col-xs-4 text-center">
            <i class="fa fa-smile-o fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> Views on Profile 30 days </span>
            <h2 class="font-bold">37,343</h2>
          </div>
        </div>
      </div>
    </div>

  <!--<div class="row">-->
    <!--<div class="col-lg-2">-->
      <!--<div class="widget style1 navy-bg">-->
        <!--<div class="row vertical-align">-->
          <!--<div class="col-xs-3">-->
            <!--<i class="fa fa-user fa-3x"></i>-->
          <!--</div>-->
          <!--<div class="col-xs-9 text-right">-->
            <!--<h2 class="font-bold">217</h2>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-2">-->
      <!--<div class="widget style1 navy-bg">-->
        <!--<div class="row vertical-align">-->
          <!--<div class="col-xs-3">-->
            <!--<i class="fa fa-thumbs-up fa-3x"></i>-->
          <!--</div>-->
          <!--<div class="col-xs-9 text-right">-->
            <!--<h2 class="font-bold">400</h2>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-2">-->
      <!--<div class="widget style1 navy-bg">-->
        <!--<div class="row vertical-align">-->
          <!--<div class="col-xs-3">-->
            <!--<i class="fa fa-rss fa-3x"></i>-->
          <!--</div>-->
          <!--<div class="col-xs-9 text-right">-->
            <!--<h2 class="font-bold">10</h2>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-2">-->
      <!--<div class="widget style1 lazur-bg">-->
        <!--<div class="row vertical-align">-->
          <!--<div class="col-xs-3">-->
            <!--<i class="fa fa-phone fa-3x"></i>-->
          <!--</div>-->
          <!--<div class="col-xs-9 text-right">-->
            <!--<h2 class="font-bold">120</h2>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-2">-->
      <!--<div class="widget style1 lazur-bg">-->
        <!--<div class="row vertical-align">-->
          <!--<div class="col-xs-3">-->
            <!--<i class="fa fa-euro fa-3x"></i>-->
          <!--</div>-->
          <!--<div class="col-xs-9 text-right">-->
            <!--<h2 class="font-bold">462</h2>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-2">-->
      <!--<div class="widget style1 yellow-bg">-->
        <!--<div class="row vertical-align">-->
          <!--<div class="col-xs-3">-->
            <!--<i class="fa fa-shield fa-3x"></i>-->
          <!--</div>-->
          <!--<div class="col-xs-9 text-right">-->
            <!--<h2 class="font-bold">610</h2>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->

    <!--<div class="col-lg-2">-->
      <!--<div class="widget navy-bg p-lg text-center">-->
        <!--<div class="m-b-md">-->
          <!--<i class="fa fa-shield fa-4x"></i>-->
          <!--<h1 class="m-xs"><%= @shield_power %>%</h1>-->
          <!--<h3 class="font-bold no-margins">-->
            <!--Shield Power (IntelCDS)-->
          <!--</h3>-->
          <!--<small>Stable</small>-->
        <!--</div>-->
      <!--</div>-->

    <!--</div>-->
  <!--</div></div>-->
  </div>
<% end %>




<% unless current_user.facebook_user %>
<h2><b>Simply type 'token' in Facebook Messenger and then copy and paste the following token into the chat to link this dashboard to your account and receive your badge.</b></h2>
<% end %>
my token:
<h2><b><%= @token %></b></h2>


</div></div>
