<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Apps</h2>
    <%= render_breadcrumbs %>
  </div>
  <div class="col-sm-8 text-right">
    <p class='add-record text-right'>
      <% if current_user.is_company_or_admin_access? %>
        <%= link_to new_app_path, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading...".html_safe} do %>
          <i class="fa fa-plus"></i> Add New Apps
        <% end %>
      <% end %>
    </p>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class='row'>
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>List Apps</h5>
      </div>
      <div class="ibox-content">
        <% if apps.present? %>
          <table class="table table-hover">

            <thead>
              <tr>
                <th>Name</th>
                <th></th>
              </tr>
              <tr>
                <th>Category</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% apps.each do |app| %>
                <tr>
                  <td><%= link_to app.name, concepts_app_path(app.id), data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading...".html_safe} %></td>
                  <td>
                    <!-- <span class="badge badge-primary pull-right <%#= app.concepts.present? ? '' : 'hide' %> " data-trigger="hover" data-container="body" data-toggle="popover" data-placement="left" data-content="Associated <%#= 'Concept'.pluralize(app.concepts.count) %>">
                      <%#= app.concepts.count %>
                    </span> -->
                    <% if current_user.is_company_or_admin_access? %>
                      <%= link_to app, class: 'btn btn-xs btn-default' do %>
                        <i class="fa fa-eye"></i>
                      <% end %>
                      <%= link_to edit_app_path(app), class: 'btn btn-xs btn-default' do %>
                        <i class="fa fa-pencil"></i>
                      <% end %>
                      <%= link_to app, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-default' do %>
                        <i class="fa fa-trash"></i>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>

          </table>
        <% else %>
          <p>No Apps Found </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
