<section id='team' class='gray-section team'>
  <div class='container'>

    <div class='row m-b-lg'>
      <div class='col-lg-12 text-center'>
        <div class='navy-line'></div>
        <h1>Our Team</h1>
        <p>There is no 'i' in team but there is in win.</p>
        <hr />
      </div>
    </div>

    <div class='row'>

      <div class='col-sm-4 wow fadeInLeft'>
        <div class='team-member'>
          <img src='http://hawkmatrix.azurewebsites.net/img/kate.jpg' class='img-responsive img-circle img-small' alt=''>
          <h4><span class='navy'>Katerina</span> Archangorodskaja</h4>
          <p>President and CEO</p>
          <ul class='list-inline social-icon'>
            <li>
              <a href='https://www.linkedin.com/in/intelligentperfection' target='_blank' >
                <i class='fa fa-linkedin'></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class='col-sm-4'>
        <div class='team-member wow zoomIn'>
          <%= image_tag('http://hawkmatrix.azurewebsites.net/img/mashallah.jpg', class: 'img-responsive img-circle img-small') %>
          <h4><span class='navy'>Mashallah</span> Afshar</h4>
          <p>CFO</p>
          <ul class='list-inline social-icon'>
            <li>
              <a href='https://www.linkedin.com/pub/mashallah-afshar/2a/682/27' target='_blank' >
                <i class='fa fa-linkedin'></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class='col-sm-4 wow fadeInRight'>
        <div class='team-member'>
          <%= image_tag('http://hawkmatrix.azurewebsites.net/img/thorsten.jpg', class: 'img-responsive img-circle img-small') %>
          <h4><span class='navy'>Thorsten</span> Weber</h4>
          <p>COO</p>
          <ul class='list-inline social-icon'>
            <li>
              <a href='https://de.linkedin.com/pub/thorsten-weber/1/233/930' target='_blank' >
                <i class='fa fa-linkedin'></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>

    <div class='row'>

      <div class='col-sm-4 wow fadeInLeft'>
        <div class='team-member'>
          <%= image_tag('http://hawkmatrix.azurewebsites.net/img/avatar3.jpg', class: 'img-responsive img-circle img-small') %>
          <h4><span class='navy'>Nikolai</span> Manek</h4>
          <p>Chairman & CTO</p>
          <ul class='list-inline social-icon'>
            <li>
              <a href='https://twitter.com/nikolaimanek' target='_blank' >
                <i class='fa fa-twitter'></i>
              </a>
            </li>
            <li>
              <a href='https://www.linkedin.com/in/nikolaimanek'>
                <i class='fa fa-linkedin'></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class='col-sm-4'>
        <div class='team-member wow zoomIn'>
          <%= image_tag('http://hawkmatrix.azurewebsites.net/img/takumi.jpg', class: 'img-responsive img-circle img-small') %>
          <h4><span class='navy'>Takumi Brian</span> Abe</h4>
          <p>Executive VP Customer Relations</p>
          <ul class='list-inline social-icon'>
            <li>
              <a href='https://www.linkedin.com/pub/takumi-brian-abe/87/559/863' target='_blank' >
                <i class='fa fa-linkedin'></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <hr />
      <div class='row m-b-lg'>
        <div class='col-lg-12 text-center'>
          <div class='navy-line'></div>
          <h1>Our Advisory Board</h1>
          <p>Great mentorship is priceless.</p>
          <hr />
        </div>
      </div>

    </div>

    <div class='row'>
      <div class='col-sm-4 wow fadeInLeft'>
        <div class='team-member'>
          <%= image_tag('http://hawkmatrix.azurewebsites.net/img/peter.jpg', class: 'img-responsive img-circle img-small') %>
          <h4><span class='navy'>Peter E.</span> Michel</h4>
          <p>
            13 Years CEO at Brink’s security and several other C level positions.
            Executive Program in Strategy and Organization, Stanford University.
            MA, public administration, University of Virginia. BA, political science, Colgate University.
            Hall of Fame for distinguished industry service SECURITY SALES AND MARKETING - 2003
            Hope Award MULTIPLE SCLEROSIS SOCIETY, LONE STAR CHAPTER - 2001
            President's Award
            SECURITY INDUSTRY ASSOCIATION - 2001
          </p>
          <ul class='list-inline social-icon'>
            <li>
              <a href='https://www.linkedin.com/pub/peter-michel/3/813/704' target='_blank' >
                <i class='fa fa-linkedin'></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class='col-sm-4'>
        <div class='team-member wow zoomIn'>
          <%= image_tag('http://hawkmatrix.azurewebsites.net/img/longin.jpg', class: 'img-responsive img-circle img-small') %>
          <h4><span class='navy'>Prof. Dr. Longin Jan</span> Latecki</h4>
          <p>Mathematician. Winner of the International Pattern Recognition Award, Olympus Price Winner, Editorial Board of Pattern Recognition (PR), Editorial Board of Computer Vision and Image Understanding (CVIU), Editorial Board of Journal of Mathematical Imaging and Vision (JMIV), Chair of PhD Track in Artificial Intelligence, Chair of Future of Computing Competition 2008-2012</p>
        </div>
      </div>

      <div class='col-sm-4 wow fadeInRight'>
        <div class='team-member'>
          <%= image_tag('http://hawkmatrix.azurewebsites.net/img/kurt.jpg', class: 'img-responsive img-circle img-small') %>
          <h4><span class='navy'>Kurt-Juergen</span> Schimmelpfeng</h4>
          <p>Attorney of Law, former Managing Director of the VHSp (Association of Hamburg’s/Germany logics companies), DIHS GmbH, Member of the Supervisory Board of Dakosy AG, Managing Director of the Academy of Logistics in Hamburg, Germany </p>
          <ul class='list-inline social-icon'>
            <li>
              <a href='https://de.linkedin.com/pub/kurt-juergen-schimmelpfeng/a8/9/b7/en' target='_blank' >
                <i class='fa fa-linkedin'></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-4 wow fadeInLeft'>
        <div class='team-member'>
          <%= image_tag('http://hawkmatrix.azurewebsites.net/img/mashallah.jpg', class: 'img-responsive img-circle img-small') %>
          <h4><span class='navy'>Marshallah</span> Afshar, MBA</h4>
          <p>CPA, MBA, More than 30 years accounting and tax experience in the USA, CEO of Parsfinancials, Inc.</p>
          <ul class='list-inline social-icon'>
            <li>
              <a href='https://www.linkedin.com/pub/mashallah-afshar/2a/682/27' target='_blank' >
                <i class='fa fa-linkedin'></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class='col-sm-4'>
        <div class='team-member wow zoomIn'>
          <%= image_tag('http://hawkmatrix.azurewebsites.net/img/alex.jpeg', class: 'img-responsive img-circle img-small') %>
          <h4><span class='navy'>Alejandro V.</span> Natividad, MD</h4>
          <p>MD, Psychiatrist, Medical Director of Hospital in Texas since 1998, Inventor of Neuroscience based Security</p>
          <ul class='list-inline social-icon'>
            <li>
              <a href='https://www.linkedin.com/pub/alex-natividad-md/56/925/b31' target='_blank' >
                <i class='fa fa-linkedin'></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class='col-sm-4 wow fadeInRight'>
        <div class='team-member'>
          <%= image_tag('http://hawkmatrix.azurewebsites.net/img/erik.jpg', class: 'img-responsive img-circle img-small')%>
          <h4><span class='navy'>Erik</span> Hemmi, BA</h4>
          <p>BA Economics, 17 years sales experience, expert in direct and channel sales at CISCO SYSTEMS (previous major accounts at PAYCHEX and ADP). Top 10 producer in 5 consecutive years, sales trainer and responsible for southern California San Diego and Orange County.</p>
          <ul class='list-inline social-icon'>
            <li>
              <a href='https://www.linkedin.com/pub/erik-hemmi/b/817/5a0' target='_blank' >
                <i class='fa fa-linkedin'></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-4 wow fadeInLeft'>
        <div class='team-member'>
          <%= image_tag('http://hawkmatrix.azurewebsites.net/img/david.jpg', class: 'img-responsive img-circle img-small') %>
          <h4><span class='navy'>David</span> Froman</h4>
          <p>Attorney of Law at Froman Law Firm, Commander Fighter U.S. Navy, LL.M. International Law, Harvard Law School - B.A. Mathematics, Magna Cum Laude -  Southwestern College - J.D. Law, Cum Laude, San Diego School of Law</p>
          <ul class='list-inline social-icon'>
            <li>
              <a href='https://www.linkedin.com/pub/david-froman/1b/48/612' target='_blank' >
                <i class='fa fa-linkedin'></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class='row'></div>
  </div>
</section>