<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <span>
            <%= gravatar_for current_user rescue nil %>
          </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0)">
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold"><%= current_user.name %></strong>
              </span>
              <span class="text-muted text-xs block"><%= current_user.name %><b class="caret"></b></span>
            </span>
          </a>
         
        </div>
        <div class="logo-element">AH</div>
      </li>
      <li class="<%= is_active_controller('home') %>">
        <%= link_to dashboard_path do %>
          <i class="fa fa-home"></i> <span class="nav-label" data-i18n="nav.widgets">Home</span>
        <% end %>
      </li>
      <li class="<%= is_active_controller('something') %>">
        <%= link_to edit_user_registration_path do %>
          <i class="fa fa-star"></i> <span class="nav-label" data-i18n="nav.widgets">Edit Profile</span>
        <% end %>
      </li>
      <li class="<%= is_active_controller('something') %>">
      <%= link_to edit_user_registration_path do %>
        <i class="fa fa-star"></i> <span class="nav-label" data-i18n="nav.widgets">Edit Profile</span>
      <% end %>
    </li>
    <li class="<%= is_active_controller('something') %>">
    <%= link_to edit_user_registration_path do %>
      <i class="fa fa-star"></i> <span class="nav-label" data-i18n="nav.widgets">Edit Profile</span>
    <% end %>
  </li>
  <li class="<%= is_active_controller('something') %>">
  <%= link_to edit_user_registration_path do %>
    <i class="fa fa-star"></i> <span class="nav-label" data-i18n="nav.widgets">Edit Profile</span>
  <% end %>
</li>
<li class="<%= is_active_controller('something') %>">
<%= link_to edit_user_registration_path do %>
  <i class="fa fa-star"></i> <span class="nav-label" data-i18n="nav.widgets">Edit Profile</span>
<% end %>
</li>
<li class="<%= is_active_controller('something') %>">
<%= link_to edit_user_registration_path do %>
  <i class="fa fa-star"></i> <span class="nav-label" data-i18n="nav.widgets">Edit Profile</span>
<% end %>
</li>

</div>

    
  </div>
</nav>
