<div class="row border-bottom">
  <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="javascript:void(0)">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <ul class="nav navbar-top-links navbar-left">
      <li class="padding12">
        <%- apps = App.my_apps(current_user) %>
        <% if controller.controller_name == 'knowledge_items' %>
          <%= select_tag 'app_id', options_for_select(apps.map{|t| [t.name, t.id]}, params[:app_id] ), {include_blank: 'Select App', class: 'form-control', onchange: "update_app_id( $(this).val(), 'knowledge_items' )"} %>
        <% elsif controller.controller_name == 'news_items' %>
          <%= select_tag 'app_id', options_for_select(apps.map{|t| [t.name, t.id]}, params[:app_id] ), {include_blank: 'Select App', class: 'form-control', onchange: "update_app_id( $(this).val(), 'news_items' )"} %>
        <% elsif controller.controller_name == 'concepts' %>
          <%= select_tag 'app_id', options_for_select(apps.map{|t| [t.name, t.id]}, params[:app_id] ), {include_blank: 'Select App', class: 'form-control', onchange: "search_app_id( $(this).val(), 'concepts' )"} %>
        <% elsif controller.controller_name == 'prompts' %>
          <%= select_tag 'app_id', options_for_select(apps.map{|t| [t.name, t.id]}, params[:app_id] ), {include_blank: 'Select App', class: 'form-control', onchange: "search_app_id( $(this).val(), 'prompts' )"} %>
        <% end %>
      </li>
    </ul>
    <ul class="nav navbar-top-links navbar-right">
      <li><span class="m-r-sm text-muted welcome-message">Welcome!</span></li>
      <li>
        <span class="text-muted">
          Logged in as <strong><%= current_user.try(:name) %></strong>
        </span>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
          <i class="fa fa-sign-out"></i> Log out
        <% end %>
      </li>
    </ul>
  </nav>
</div>
