<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EQBotics</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") rescue nil %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body class="">
    <div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">
      <% if current_user.present? %>
        <%= render 'layouts/navigation' %>
      <% end %>
      <div id="page-wrapper" class="gray-bg <%= @extra_class %>">
        <%= render 'layouts/topnavbar' %>
        <% unless flash.empty? %>
          <script type="text/javascript">
            <% flash.each do |f| %>
              <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'success') %>
              toastr['<%= type %>']('<%= f[1] %>');
            <% end %>
          </script>
        <% end %>
        <%= yield %>
        
      </div>
    </div>
    <%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") rescue nil %>
    <%= yield :javascript %>
  </body>
</html>